/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  height: 100vh;
  background-color: rgb(12, 116, 201);
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

h2 {
  color: white;
  font-size: 20px;
}


h1 {
  color: white;
}

.filetext {
  color:white;
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

.headerrow {
  display: flex;
  place-content: center space-evenly;
  width: 100%;
  flex-wrap: wrap;  /* Allows items to wrap on smaller screens */
}

@media (max-width: 768px) {
  .headerrow {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}